@charset "UTF-8";
         body {
            margin: 0;
            font-family: 'Sansita', sans-serif;
            background-color: #f4f4f4;
            height: 200vh; /* Para testar o scroll */
        }
        header {
            background-color: #72B4C2;
            color: white;
            padding-bottom: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            margin: auto;
            height: 30px;
            border-bottom: 3px solid #2954b744 ;

        }
        header .logo {
            position: absolute;
            top: 5%;
        }
        header .logo img {
        height: 100px;
        }
        welcoming{
            position: relative;
            top: 120px;
            display: flex;
            align-items: center;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            background: linear-gradient(to bottom,#70a0af,#70a0af,#70a0af, #325f6cd6,#70a0af, #70a0af,#70a0af,#70a0af ); /* Gradiente de fundo */
            /* -webkit-background-clip: text; */
            background-clip: text;
            color: transparent;
            justify-content: center;
        }
        
        sub_header{
            color: white;
            position: relative;
            width: 100%;
            top: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
        }
        sub_header .item {
            background-color: #f4f4f4;
            flex: 1;
            margin: 0 1%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #72B4C2;
            border-radius: 10px;
        }
        sub_header .item img {
            height: 80px;
            width: 70px;
            padding: 5px;
        }
        button1_area{
            justify-content: center;
            width: 100%;
            top: 150px;
            position: relative;
            display: flex;
        }
        button1_area .button1 {
            display: inline-block;
            padding: 10px 30px;
            font-size: 1.2em;
            font-weight: bold;
            color: white;
            background-color: #72B4C2;
            border: none;
            border-radius: 12px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s, box-shadow 0.3s;
            position: relative; 
        }
        
        .button1:hover {
            background-color: #5e8b99;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
        }
        
        

    main {
        padding-top: 80px; /* Espaço para o header fixo */
    }
