@charset "UTF-8";
         body {
            margin: 0;
            font-family: 'Sansita', sans-serif;
            background-color: #f4f4f4;
            height: 200vh; /* Para testar o scroll */
        }
        header {
            background-color: #72B4C2;
            color: white;
            padding-bottom: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            margin: auto;
            height: 30px;
        }
        header .logo {
            position: absolute;
            top: 5%;
        }
        header .logo img {
        height: 100px;
        }
        welcoming{
            position: relative;
            top: 120px;
            display: flex;
            align-items: center;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            background: linear-gradient(to bottom,#70a0af,#70a0af,#70a0af, #325f6cd6,#70a0af, #70a0af,#70a0af,#70a0af ); /* Gradiente de fundo */
            /* -webkit-background-clip: text; */
            background-clip: text;
            color: transparent;
            justify-content: center;
        }
        
        sub_header{
            color: white;
            position: relative;
            width: 100%;
            top: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
        }
        sub_header .item {
            background-color: #f4f4f4;
            flex: 1;
            margin: 0 1%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #72B4C2;
            border-radius: 10px;
        }
        sub_header .item img {
            height: 80px;
            width: 70px;
            padding: 5px;
}
        
        

    main {
        padding-top: 80px; /* Espaço para o header fixo */
    }
